# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Django
staticfiles/
media/

# Node
node_modules/
dist/
build/

# Vite
.vite/

# OS
.DS_Store

# Editor
.vscode/

.env

# Archivos de pruebas o scripts temporales
BACKEND/test_*.py
BACKEND/*_test.py
BACKEND/check_s3.py
BACKEND/list_s3.py
BACKEND/upload_test.py
BACKEND/test_image.py
BACKEND/test_api_upload.py

# Script local de superusuario (no subir credenciales locales)
BACKEND/scripts/create_local_superuser.py
BACKEND/db.sqlite3

# Carpeta de productos locales (si no deben subirse)
BACKEND/products/*.png
BACKEND/products/*.jpg
BACKEND/products/*.jpeg
